ooiasoft/Connected Services/CursoWS/CursoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.ooiasoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursoWS" targetNamespace="http://services.ooiasoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://34.231.200.155:8080/ooiasoftWebServices/CursoWS?xsd=1" namespace="http://services.ooiasoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="modificarCurso">
    <part name="parameters" element="tns:modificarCurso" />
  </message>
  <message name="modificarCursoResponse">
    <part name="parameters" element="tns:modificarCursoResponse" />
  </message>
  <message name="insertarCurso">
    <part name="parameters" element="tns:insertarCurso" />
  </message>
  <message name="insertarCursoResponse">
    <part name="parameters" element="tns:insertarCursoResponse" />
  </message>
  <message name="eliminarCurso">
    <part name="parameters" element="tns:eliminarCurso" />
  </message>
  <message name="eliminarCursoResponse">
    <part name="parameters" element="tns:eliminarCursoResponse" />
  </message>
  <message name="listarCursosPorCodigoNombre">
    <part name="parameters" element="tns:listarCursosPorCodigoNombre" />
  </message>
  <message name="listarCursosPorCodigoNombreResponse">
    <part name="parameters" element="tns:listarCursosPorCodigoNombreResponse" />
  </message>
  <portType name="CursoWS">
    <operation name="modificarCurso">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/modificarCursoRequest" message="tns:modificarCurso" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/modificarCursoResponse" message="tns:modificarCursoResponse" />
    </operation>
    <operation name="insertarCurso">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/insertarCursoRequest" message="tns:insertarCurso" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/insertarCursoResponse" message="tns:insertarCursoResponse" />
    </operation>
    <operation name="eliminarCurso">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/eliminarCursoRequest" message="tns:eliminarCurso" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/eliminarCursoResponse" message="tns:eliminarCursoResponse" />
    </operation>
    <operation name="listarCursosPorCodigoNombre">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/listarCursosPorCodigoNombreRequest" message="tns:listarCursosPorCodigoNombre" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CursoWS/listarCursosPorCodigoNombreResponse" message="tns:listarCursosPorCodigoNombreResponse" />
    </operation>
  </portType>
  <binding name="CursoWSPortBinding" type="tns:CursoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCursosPorCodigoNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoWS">
    <port name="CursoWSPort" binding="tns:CursoWSPortBinding">
      <soap:address location="http://34.231.200.155:8080/ooiasoftWebServices/CursoWS" />
    </port>
  </service>
</definitions>