ooiasoft/Connected Services/CicloWS/CicloWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.ooiasoft.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CicloWS" targetNamespace="http://services.ooiasoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://34.231.200.155:8080/ooiasoftWebServices/CicloWS?xsd=1" namespace="http://services.ooiasoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCiclos">
    <part name="parameters" element="tns:listarCiclos" />
  </message>
  <message name="listarCiclosResponse">
    <part name="parameters" element="tns:listarCiclosResponse" />
  </message>
  <message name="modificarCiclo">
    <part name="parameters" element="tns:modificarCiclo" />
  </message>
  <message name="modificarCicloResponse">
    <part name="parameters" element="tns:modificarCicloResponse" />
  </message>
  <message name="insertarCiclo">
    <part name="parameters" element="tns:insertarCiclo" />
  </message>
  <message name="insertarCicloResponse">
    <part name="parameters" element="tns:insertarCicloResponse" />
  </message>
  <message name="eliminarCiclo">
    <part name="parameters" element="tns:eliminarCiclo" />
  </message>
  <message name="eliminarCicloResponse">
    <part name="parameters" element="tns:eliminarCicloResponse" />
  </message>
  <portType name="CicloWS">
    <operation name="listarCiclos">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/listarCiclosRequest" message="tns:listarCiclos" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/listarCiclosResponse" message="tns:listarCiclosResponse" />
    </operation>
    <operation name="modificarCiclo">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/modificarCicloRequest" message="tns:modificarCiclo" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/modificarCicloResponse" message="tns:modificarCicloResponse" />
    </operation>
    <operation name="insertarCiclo">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/insertarCicloRequest" message="tns:insertarCiclo" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/insertarCicloResponse" message="tns:insertarCicloResponse" />
    </operation>
    <operation name="eliminarCiclo">
      <input wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/eliminarCicloRequest" message="tns:eliminarCiclo" />
      <output wsam:Action="http://services.ooiasoft.pucp.edu.pe/CicloWS/eliminarCicloResponse" message="tns:eliminarCicloResponse" />
    </operation>
  </portType>
  <binding name="CicloWSPortBinding" type="tns:CicloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCiclos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCiclo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CicloWS">
    <port name="CicloWSPort" binding="tns:CicloWSPortBinding">
      <soap:address location="http://34.231.200.155:8080/ooiasoftWebServices/CicloWS" />
    </port>
  </service>
</definitions>